In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('mydatabase.db')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
               id INTEGER PRIMARY KEY AUTOINCREMENT,
               name TEXT NOT NULL,
               email TEXT UNIQUE NOT NULL
    )
''')

In [5]:
def create_user(name,email):
    cursor.execute("INSERT INTO users (name, email) VALUES (?, ?)", (name, email))
    conn.commit()

In [6]:
create_user("sree","sree@gmail.com")

In [7]:
def get_all_users():
    cursor.execute("SELECT * FROM users")
    return cursor.fetchall()

In [8]:
get_all_users()

[(1, 'sree', 'sree@gmail.com')]

In [11]:
def get_user_by_id(user_id):
    cursor.execute("SELECT * FROM users WHERE id = ?", (user_id,))
    #tuple with one value
    return cursor.fetchone()

In [12]:
get_user_by_id(1)

(1, 'sree', 'sree@gmail.com')

In [13]:
def get_user_by_name(name):
    cursor.execute("SELECT * FROM users WHERE name = ?", (name,))
    return cursor.fetchone()

In [14]:
get_user_by_name('sree')

(1, 'sree', 'sree@gmail.com')

In [15]:
create_user("neha","neha@gmail.com")

In [16]:
create_user("nidhi","nidhi@gmail.com")

In [17]:
get_all_users()

[(1, 'sree', 'sree@gmail.com'),
 (2, 'neha', 'neha@gmail.com'),
 (3, 'nidhi', 'nidhi@gmail.com')]

In [18]:
def update_user_email(user_id, new_email):
    cursor.execute("UPDATE users SET email = ? WHERE id = ?", (new_email, user_id))
    conn.commit()

In [19]:
update_user_email(2,"chneha@gmail.com")

In [20]:
get_all_users()

[(1, 'sree', 'sree@gmail.com'),
 (2, 'neha', 'chneha@gmail.com'),
 (3, 'nidhi', 'nidhi@gmail.com')]

In [21]:
def delete_user(user_id):
    cursor.execute("DELETE FROM users WHERE id = ?", (user_id,))
    conn.commit()

In [22]:
delete_user(3)

In [26]:
user = delete_user(3)

In [27]:
print(user)

None

In [23]:
get_all_users()

[(1, 'sree', 'sree@gmail.com'), (2, 'neha', 'chneha@gmail.com')]

In [24]:
get_user_by_id(3)

In [25]:
get_all_users()

[(1, 'sree', 'sree@gmail.com'), (2, 'neha', 'chneha@gmail.com')]

In [28]:
conn.close()

In [29]:
get_all_users()

ProgrammingError: Cannot operate on a closed database.